@charset "UTF-8";

/*
Paleta de Cores
Verde: #49a09d
Lilás: #5f2c82
*/

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: #5f2c82;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    /*PARA DEIXAR COM A POSIÇÃO NO MEIO DA TELA*/

    position: absolute;
    top: 50%;
    left: 50%;

    /*-----------------------------*/

    /*o overflow hidden vai deixar a imagem com a borda arredondada,  pra não vazar pra fora da div*/
    overflow: hidden; 
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.425);

    transform: translate(-50%, -50%); /*deixa a posição no meio da tela*/
    transition: width 0.3s, height 0.3s; /*animação para a imagem aparecer aos poucos*/
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #5f2c82 url(../imagens/img-login.png.jpg) no-repeat;
    background-size: cover;
    background-position: left top; /*para colocar o background onde voce quiser*/
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}

div.campo > label {
    display: none; /*Sumiu com a escrita "Login" e "Senha" que tava estranho antes*/
}

div.campo > span {
    color: white;
    /*background-color: black;*/
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: #6fece8;
    font-size: 1em;
    width: calc(100% - 45px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 4px;
    transform: translateY(-12px);
}

div.campo > input:focus-within {
    background-color: white;
    border: none; /*não funciona p tirar a borda*/
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #234d4b;
}

form > a.botao {
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white;
    color: #1c3d3c;
    border: 1px solid #49a09d;
    border-radius: 7px;
    text-decoration: none;

}

form > a.botao:hover {
    background-color: #67dbd7;
}

form > a.botao > span {
    font-size: 0.8em;
}